@charset "UTF-8";

body, html {
	width: 100%;
	height: 100%;
	background: #393939;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
	font-weight: 100;
}

aside {
	float: left;
	width: 15%;
	min-width: 304px;
	height: 100%;
	background: #505050;
	padding: 20px;
}

main {
	float: left;
	width: calc(100% - 305px);
	height: 100%;
	padding: 25px;
}

p, a, h1, h2, h3, h4, h5, span, div, fieldset, legend, label, i {
	color: #595959;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	float: left;
	width: 100%;
	color: #FFF;
}
form > * {
	float: left;
	width: 100%;
}

h1 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 22px;
	text-align: center;
	margin-bottom: 10px;
}

h2 {
	float: left;
	width: 100%;
	color: #2EE021;
	text-transform: uppercase;
	font-weight: 300;
	padding: 0px;
	line-height: 1;
	margin: 10px 0 4px 0;
}

a {
	color: #FFF;
	transition: color 0.3s ease;
}

a:visited {
	color: #FFF;
}

a:hover {
	color: #ECECEC;
}

.pg-num {
	margin: 8px 3px;
}

.pg-num:hover {
	color: #CCC;
}

.reg-link {
	font-size: 10px;
}

.reg-text {
	font-size: 10px;
	color: #CCC;
}

.reg-link-wrap {
	float: left;
	width: 100%;
	text-align: center;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

input{
    outline: 0 none;
    border: 0 none;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

input[type="text"], 
input[type="button"], 
input[type="submit"], 
input[type="password"],
textarea,
select  {
	float: left;
	width: 100%;
	padding: 4px;
	border: 1px solid #FFF;
	transition: border-color 0.3s ease, background-color 0.1s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus  {
	border: 1px solid #2EE021;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
	border: 1px solid #FFF;
}
textarea:focus {
	border: 1px solid #2EE021;
}

input[type="button"], 
input[type="submit"],
input[type="file"] {
	padding: 4px;
	border: 1px solid #393939;
	background: #393939;
	color: #FFF;
}

input[type="button"]:hover, 
input[type="submit"]:hover,
input[type="file"]:hover {
	border: 1px solid #2EE021;
	background: #505050;
	cursor: pointer;
}

input[type="button"]:focus, 
input[type="submit"]:focus,
input[type="file"]:focus {
	background: #2EE021;
	border: 1px solid #2EE021;
}

input[type="button"]:active, 
input[type="submit"]:active,
input[type="file"]:active  {

	background: #2EE021;
	border: 1px solid #2EE021;
}

.login {
	float: left;
	width: 100%;
	height: 100%;
	background: #505050;
	padding: 20px;
}

.errors {
	position: relative;
	float: left;
}

.topics {
	float: left;
	width: 100%;
}

.topic {
	text-transform: uppercase;
	float: left;
	width: 100%;
	font-size: 1.4em;
}

.content-wrap {
	float: left;
	width: 100%;
}

.content {
	float: left;
	width: 96%;
	color: #888;
}

.date-wrap {
	float: left;
	width: 100%;
	font-size: 10px;
	font-weight: 400;
}

.vote-span {
	float: left;
	margin: 0 15px 0 0;
	text-align: center;
}


.vote-up, .vote-down{
	float: left;
	width: 100%;
	cursor: pointer;
}

.vote-up{
	
}

.vote-down{

}

.vote {
	cursor: pointer;
}

.wrap-post {
	float: left;
	position: relative;
	width: 100%;
}

.post-content {
	word-wrap: break-word;
	float: left;
	width: 100%;
	margin-top: 0.4em;
	color: #CCC;
}

.nav {
	width: 100%;
	position: relative;
	float: left;
	height: 80px;
}

#match {
	float: left;
	padding: 5px;
	background: #A9A9A9;
}

#table {
	float: left;
	position: absolute;
	left: 90%;
	padding: 5px;
	color: #888;
}

.post {
	float: left;
	width: 100%;
	border-bottom: 1px solid #595959;
	margin: 5px 0 0 0;
	padding: 10px 0 9px 10px;
	font-size: 1.2em;
}

/*.post:nth-child(odd) {
	background: #393939;
}

.post:nth-child(even) {
	background: #50505;
}*/

#query {
	background: url(search-white.png) no-repeat 8px 9px #393939;
	border: 0 none;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #FFF;
	width: 100%;
	padding: 6px 15px 6px 35px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

/*#sel-cat {
	background: ;
	border: 0 none;
	font: bold 12px Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	color: #777;
	width: 95%;
	padding: 6px 15px 6px 35px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
#sel-cat:focus {
	width: 100%;
}*/

.profilepic {
	border: 1px solid #555;
	float: left;
	margin: 0px 10px 9px 0px;
	width: 100%;
	max-height: 264px;
}

.profilepic-wrap {
	width:100%;
}

.mini-profilepic {
	width: 20px;
	margin-left: 10px;
	border: 1px solid #595959;
	float:left;
}

.profile-mini-profilepic {
	width: 20px;
	margin: 10px 10px 0 0;
	border: 1px solid #595959;
	float:left;
}

.post-date {
	float: left;
}

.profile {
	float: left;
	width: 100%;
}

.userprofiles a {
	font-size: 12px;
	color: #999;
}

.profile-user {
	float: left;
	width: calc(100% - 30px);
}

.profileLink {
	float: left;
	width: 100%;
	border-top: 1px solid #CCC;
}
.profileLink:first-child {
	border-top: 0;
}

.bio, .name, .age, .gender, .country {
	float: left;
	width: 100%;
	color: #ECECEC;

}

.bio {
	font-size: 1.4em;
	line-height: 1;
}

.field-wrap {
	float: left;
	width: 100%;
}

.m-t {
	margin-top: 0.4em;
}
.m-b {
	margin-bottom: 0.4em;
}
.m-tb {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}
.m-z {
	margin: 0 0 0 0;
}




