<div class="post-wrap">
	<form method="POST" id="post-form" name="postForm">
		    <h2>Topic</h2> 
		    	<input type="text" name="topic" id="input-topic" class="m-z" /><br>
		    <h2>URL</h2>
		    	<input type="text" name="url" id="input-url" class="m-z"><br>
		    <h2>Content</h2> 
		    	<textarea id="content" name="content" cols="20" rows="10" resize="none" class="m-tb"></textarea>
		    <input type="button" id="post" value="Create Post" name="post-submit">
	</form>
</div>